.registration-title{
    text-align: center
}
.registration-table{
    text-align: center;
    margin: 2% 20% 0 20%;
}
.matcard-setting{
    margin: 3% 40% 0 40%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbtn{
    position: absolute;
    float: right;
    right: 702px;
    top: 5px;
}