
<button class="navbtn"  mat-raised-button color="salmon" routerLink="">Add Student</button> 

<div *ngIf="students">
<table class="tabledata">
<tr>  
  <th>Id</th>
  <th>FirstName</th>
  <th>LastName</th>
  <th>Email</th>
  <th>Password</th>
  <th>Age</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>
<tr *ngFor= "let student of students" >
<td>{{student.id}}</td>
<td>{{student.firstName}}</td>
<td>{{student.lastName}}</td>
<td>{{student.password}}</td>
<td>{{student.email}}</td>
<td>{{student.age}}</td>
<td>
  <button type="button" (click)="edit(student.id)">Edit</button>
</td>
<td>
  <button type="button" (click)="delete(student.id)">Delete</button>
</td>
</tr>
</table>
</div>